<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>
<figure class="figure">
    <img src="../../assets/images/avengers.jpg"
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title 1</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b>8/10</b> </figcaption>
</figure>